<launch>

    <!-- Arguments -->
    <arg name="camera_file"       default="$(find wild_visual_navigation_real_world)/config/wild_visual_navigation/camera.yaml"/>
    <arg name="params_file"       default="$(find wild_visual_navigation_real_world)/config/wild_visual_navigation/scout.yaml"/>
    <arg name="overlay_images"    default="True"/>

    <include file="$(find wild_visual_navigation_ros)/launch/wild_visual_navigation.launch">
        <arg name="camera_file"    value="$(arg camera_file)"/>
        <arg name="params_file"    value="$(arg params_file)"/>
        <arg name="overlay_images" value="$(arg overlay_images)"/>
    </include>

      <!-- scout state converter required by WVN -->
    <node name="robot_convert" pkg="wild_visual_navigation_real_world" type="robot_convert.py"/>
    <!-- <node name="scout_fake_tf_pub" pkg="wild_visual_navigation_ros" type="tf_pub.py"/> -->

  </launch>
  